spring:
  application:
    name: indi-app
    jackson:
      serialization:
        FAIL_ON_EMPTY_BEANS: false
  datasource:
    driver-class-name: org.h2.Driver
    username: myusr
    password: mypsw
    url: "jdbc:h2:mem:indiapi;DB_CLOSE_ON_EXIT=FALSE"
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create-drop

server:
  port : 8089